{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="my-auto slogan">
                <h1 class="index-slogan">
                    ENTER IF YOU DARE
                    <a href="#" class="btn shop-btn btn-lg">SHOP NOW</a>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}