{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Edit Products</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'sweets:edit_sweet' sweet.id %}" class="form mb-1" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn" href="{% url 'sweets:sweets' %}">Cancel</a>
                        <button class="btn" type="submit">Update a Sweet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

