{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-product-container">
    {% if sweet.category %}
        <a class="text-muted" href="{% url 'sweets:sweets' %}?category={{ sweet.category.name }}">
            <i class="fas fa-tag mr-1"></i>{{ sweet.category.friendly_name }}
        </a>
    {% endif %}
    <img class="sweet-image-individual" src="{{ sweet.image.url }}" alt="{{ sweet.name }}">
    <h5 class="card-text-name">{{ sweet.name }}</h5>
    <p class="card-text">{{ sweet.info }}</p>
    <p class="card-text">£{{ sweet.price }}per gram</p>
    {% if sweet.rating %}
        <small class="card-text-rating"><i class="fas fa-star mr-1"></i>{{sweet.rating }} / 5</small>
    {% else %}
    <small class="card-text-rating">No Rating</small>
    {% endif %}
</div>
{% endblock %}