body {
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    color: rgb(255 0 247);
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* NAV CSS */
.nav-theme {
    color: rgb(255 0 247);
    font-size: 3rem;
}

.nav-theme-dropdown {
    color: rgb(255 0 247);
    font-size: 2rem;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.dropdown-menu {
    width: 18rem;
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
}

.nav-headings {
    text-align: center;
    font-size: 2rem;
    color: rgb(72, 255, 0);
    margin: auto;
}

.table-checkout {
    background-color: rgb(61, 59, 61);
    width: 100%;
    border-radius: 2rem;
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
}

.main-product-container {
    margin: 1rem;
    border-radius: 2rem;
    background-color: rgb(61, 59, 61);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.sweet-image-individual {
    width: auto;
    border-radius: 2rem;
    margin: 10px;
    max-height: 55%;
}

.sweet-detail {
    width: 9040rem;
    border-radius: 2rem;
    justify-content: center;
    border-width: thick;
    border-style: solid;
    margin: 20px;
    background-color: rgb(61, 59, 61);
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
}

.nav-item > a:hover {
    color: rgb(175, 0, 0);
}

.sort-bar {
    color: rgb(255 0 247);
    font-size: 1rem;
    border-radius: 2rem;
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
    width: 9rem;
}

.current-fields {
    color: rgb(255 0 247);
}
.nav-logo {
    color: rgb(255 0 247);
    font-size: 5rem;
}

.nav-background {
    background-color: rgb(61, 59, 61);
}

/* Index page CSS */
.index-slogan {
    color: rgb(255 0 247);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Signika', sans-serif;
    text-align: center;
}

.shop-btn {
    background-color: rgba(61, 59, 61, 0.485);
    color: rgb(255 0 247);
    font-size: 3rem;
}


.shop-btn:hover {
    color: rgba(9, 255, 0, 0.768);
}

.basket {
    font-size: 3rem;
    text-decoration: none;
    color: rgb(255, 0, 225);
}

.delivery-banner {
    font-size: 2rem;
    color: rgb(72, 255, 0);
    text-align: center;
}
.search-bar {
    max-width: 50%;
}
.dropdown-menu {
    background-color: rgb(61, 59, 61);
}

.navbar-toggler {
    border-width: 4px;
    border-radius: 1rem;
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
    color: rgb(255 0 247);
    text-align: center;
    height: 60px;
}

.sweet-image-individual {
    max-width: 75%;
}

.about-container {
    background-color: rgb(61, 59, 61);
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
}


#mc_embed_signup {
    background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif; 
    width:600px;
}


  #button-addon1 {
    color: rgb(255, 0, 225);
  }
  
  i {
    color: rgb(255, 0, 225);
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }

.about-text {
    font-size: 2rem;
    justify-content: center;
}

.about-images {
    border-radius: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.basket-table {
    font-size: 2.5rem;
}

.card-img-top {
    border-radius: 2rem;
    max-height: 15rem;
    margin-top: 10px;
}

.card {
    max-width: 22rem;
    border-radius: 2rem;
    justify-content: center;
    border-width: thick;
    border-style: solid;
    margin: 20px;
    background-color: rgb(61, 59, 61);
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
}

.card-text-name {
    font-size: 35px;
    color: rgb(67, 200, 57)
}

.card-text-rating{
    color: rgb(255, 0, 0);
    font-size: 30px;
}

.card-text {
    font-size: 30px;
    color: rgb(255, 0, 225)
}

/* Shopping Basket styling */
.basket-header {
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 0, 225);
}

.basket-empty {
    margin-top: 30px;
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 0, 225);
    background-color: rgb(61, 59, 61);
    border-radius: 1rem;
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
}

.sweet-management {
    width: 30px;
    background-color: red ;
}

.contact-us {
    width: 30%;
    background-color: rgba(15, 175, 159, 0.877);
    color: rgb(77, 77, 77);
}

.sweet-container {
    max-width: 100%;
}

.bg-profile {
    background-color: rgb(61, 59, 61);
    border-radius: 1rem;
    border-color: rgb(72, 255, 0);
    box-shadow: 2px 2px 8px 8px rgba(0, 255, 76, 0.334), 0 6px 20px 0 rgba(0, 255, 34, 0.334);
}

/* MEDIA QUERIES */

/* Small devices 300px */
@media (min-width: 280px) {
    .nav-logo{
        font-size: 4rem;
    }

    .shop-btn,
    .basket-header,
    .nav-link {
        font-size: 2rem;
    }

    .basket {
        font-size: 1rem;
    }

    .about-text > p {
        font-size: 2rem;
    }

    .about-images {
        max-width: 80%;
    }
}

@media (min-width: 570px) {    

}
