body {
    font-family: 'Bebas Neue', cursive;
    color: rgb(173, 0, 189);
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* NAV CSS */
.nav-theme {
    color: rgb(173, 0, 189);
    font-size: 3rem;
}

.nav-theme-dropdown {
    color: rgb(173, 0, 189);
    font-size: 2rem;
}

.card {
    
  }

.nav-item > a:hover {
    color: rgb(175, 0, 0);
}

.nav-logo {
    color: rgb(173, 0, 189);
    font-size: 5rem;
}

.nav-background {
    background-color: rgb(61, 59, 61);
}

/* Index page CSS */
.index-slogan {
    color: rgb(173, 0, 189);
    font-size: 3rem;
    font-family: 'Signika', sans-serif;
    /* margin-left: 30px; */
    /* margin-top: 30px; */
}

.slogan {
    margin-left: 33%;
    /* display: contents; */
    /* margin-top: 10px; */
}

.shop-btn {
    background: rgb(48, 46, 48);
    border-color: rgb(173, 0, 189);
    border-width: 4px;
}

.dropdown-menu {
    background-color: rgb(61, 59, 61);
}

.navbar-toggler {
    border-width: 4px;
    border-color: rgb(173, 0, 189);
    color: rgb(173, 0, 189);
    text-align: center;
    height: 60px;
}

.card-img-top {
    border-radius: 2rem;
}

.card {
    max-width: 22rem;
    border-radius: 2rem;
    justify-content: center;
    border-width: thick;
    border-style: solid;
    margin: 10px;
    background-color: rgb(61, 59, 61);
    border-color: rgb(67, 200, 57);
}

.card-text-name {
    font-size: 35px;
    color: rgb(67, 200, 57)
}

.card-text {
    font-size: 30px;
    color: rgb(255, 0, 225)
}