{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                {% if post %}
                    <h2>Edit Blog Post</h2>
                {% else %}
                    <h2>Add Blog Post</h2>
                {% endif %}
                <form method="POST" action="{% if post %}{% url 'blog:edit_post' post.slug %}{% else %}{% url 'blog:add_post' %}{% endif %}" class="form mb-1" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn" href="{% url 'sweets:sweets' %}">Cancel</a>
                        <button type="submit" class="btn btn-primary mt-2">{% if post %}Save Changes{% else %}Add Blog Post{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

