{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid container-for-footer">
    <div class="row">
        <div class="col bg-black text-white">
            <div class="d-flex justify-content-center post">
                <p class="blog-hero mr-2">Welcome to the CandyForum Where all the sugary thoughts expierences are shared!!! <a class="blog-hero-add" href="{% url 'blog:add_post' %}">Add A Post Here!</a></p>
                
                <div>
                </div>
            </div>
            <div class="row d-flex justify-content-center w-100">
                {% for post in blog_posts %}
                    <a  class="m-4" href="{% url 'blog:blog_post_details' post.slug %}">
                        <div class="m-4 card col-xl-2 text-center">
                            <div class="card-body">
                                <h5 class="card-text-name-blog">{{ post.title }}</h5>
                                <p class="card-text">{{ post.body|truncatechars:100 }}</p>
                                <p class="card-text-author">By- {{ post.author }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
    