{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&display=swap" rel="stylesheet">

  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://js.stripe.com/v3/">
  </script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Candy Cave {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg nav-background mw-100">
      <div class="container-fluid mw-100">
        <div class="row">
          <div class="col nav-col">
            <a class="navbar-brand m-1 nav-logo" href="{% url 'home:home' %}">CandyCave</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              MAIN<br>MENU
            </button>
          </div>
        </div>
        <div class="col">
          <div class="justify-content-center collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active nav-theme mr-4" aria-current="page" href="{% url 'home:home' %}">Home<i
                    class="fa-solid fa-house m-1"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-theme mr-4" href="{% url 'home:about' %}">About<i
                    class="fa-solid fa-book-open m-1"></i></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-theme" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-expanded="false">Account<i class="fa-solid fa-user m-1"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <li>
                    <a href="{% url 'sweets:amend_sweets' %}" class="dropdown-item nav-theme-dropdown">Sweet Management</a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{% url 'profile:profile' %}" class="dropdown-item nav-theme-dropdown">My Profile</a>
                  </li>
                  <li>
                    <a href="{% url 'account_logout' %}" class="dropdown-item nav-theme-dropdown">Logout</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'account_signup' %}" class="dropdown-item nav-theme-dropdown">Signup</a>
                  </li>
                  <li>
                    <a href="{% url 'account_login' %}" class="dropdown-item nav-theme-dropdown">Login</a>
                  </li>
                  {% endif %}
                </ul>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-theme" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-expanded="false">
                  Shop<i class="fa-solid fa-bag-shopping m-1"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item nav-theme-dropdown" href="{% url 'sweets:sweets' %}">All Sweets!<i
                        class="fa-solid fa-candy"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?sort=price&direction=asc">By Price<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?sort=rating&direction=desc">By Rating<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li>
                    <hr class="dropdown-divider">
                    <p class="nav-headings">By Sweet Type</p>
                  </li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?category=squidgy">Squidgy<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown" href="{% url 'sweets:sweets' %}?category=sour">Sour<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?category=hard">Boiled/Hard<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?category=chocolate">Chocolate<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?category=wrapped">Wrapped<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown" href="{% url 'sweets:sweets' %}?category=long">Long<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?category=new_arrivals">New Arrivals<i
                        class="fa-solid fa-party-horn"></i></a></li>
                  <li><a class="dropdown-item nav-theme-dropdown"
                      href="{% url 'sweets:sweets' %}?category=the_classics">The Classics<i
                        class="fa-solid fa-party-horn"></i></a></li>
                </ul>
              </li>
            </ul>
          </div>
          {% if messages %}
            <div class="message-container">
            </div>
          {% endif %}
          <form method="GET" action="{% url 'sweets:sweets' %}" class="d-flex justify-content-center">
            <input class="form-control me-2 search-bar" type="text" name="search" placeholder="Search FOR GOODIES">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="text-center">
          <div><a class="basket" href="{% url 'basket:view_basket' %}"><i class="fa-solid fa-basket-shopping basket"></i></a>
          </div>
          <p class="my-0 basket">
            {% if grand_total %}
            ${{ grand_total|floatformat:2 }}
            {% else %}
            $0.00
            {% endif %}
          </p>
        </div>
    </nav>
  </header>
  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script src="https://kit.fontawesome.com/d6c0aae822.js" crossorigin="anonymous"></script>
  {% endblock %}


</body>

</html>